
.section-header {
   padding: 40px 20px 0px;
    font-family: var(--primary-font);
    text-align: center;
    color: var(--secondary-txt);
    background-color: var(--header-bg);

    @media screen and (min-width:768px) {
        padding: 40px 32px 0px;
    }

    // Встановлення фонового зображення

    background-image: 
    
    url(../images/header/header_bg/header-bg-mob.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: 
        
        url(../images/header/header_bg/header-bg-mob@2x.jpg);
     }


    @media screen and (min-width: 768px) {
        background-image: url(../images/header/header_bg/header-bg-tab.jpg);
        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image:url(../images/header/header_bg/header-bg-tab@2x.jpg);
        }
     }   

    @media screen and (min-width: 1280px) {
        background-image: url(../images/header/header_bg/header-bg-desk.jpg);
        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image:url(../images/header/header_bg/header-bg-desk@2x.jpg);
        }
    } 
}

.nav-all-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button-filmoteka {
    color: var(--secondary-txt);
}
.button-filmoteka-label {
    margin-left: 10px;
    font-weight: 500;
    font-size: 30px;
    line-height: 1.17;
}

.nav-list {
    display: flex;
}
.library-item {
    margin-left: 40px;
}

.text-menu {
    font-family: var(--primary-font);
    color: var(--secondary-txt);
    font-weight: 500;
    font-size: 12px;
    line-height: 1.17;
    text-transform: uppercase;
}

// .nav-main-buttons {
//     display: flex;
//     justify-content: space-around;
    /* margin-left: auto; */
    /* margin-right: auto; */
// }

// .button-home {
//     margin-right: 40px;
    /* display: flex; */
    /* margin-left: auto; */
    /* margin-right: auto; */
// }

/* ! search-form */
.search-form {
    display: flex;
    justify-content: center;
    // padding: 8px;
    margin-top: 54px;
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.14;

    @media screen and (min-width:768px) {
        margin-top: 40px;
        margin-bottom: 24px;
    }
}

.search-form-alert {
    color: #ffdddd;
}

/* ! кнопки WATCHED и QUEUE  */
.nav-library-buttons {
    display: flex;
    justify-content: center;
    /* margin-left: auto; */
    /* margin-right: auto; */
}

.nav-library-watched {
    margin-right: 200px;
}

/* .nav-library-watched.nav-library-queue {
  padding: 15px 40px;
} */

.nav-library-watched {
    padding: 15px 40px;
}

.nav-library-queue {
    padding: 15px 40px;
}