.modal-login-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    // z-index: 1;
    // opacity: 1;
    overflow-y: scroll;
    // transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);//var(--animation-hover);

    display: flex;
    align-items: center;
    // align-content: center;
}

.modal-login {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding: 8px;

    background-color: #ffffff; //var(--animation-hover);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    // border-radius: 5px;
}

.modal-login>h2 {
    margin: 15px;
}

.modal-login-button-close {
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
    padding: 0;
    font-size: 0;
    border: 0;
    border-radius: 50%;
    stroke: #000000; //var(--primery-txt);
    background-color: #ffffff; //var(--animation-hover);
    transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1); //var(--animation-hover);

    &:hover,
    &:focus {
        stroke: #FF6B01; //var(--btn-rating-bg);
    }
}

.modal-login-content {
    display: flex;
    flex-direction: column;
}

.login-input {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    padding: 5px;

    border: none;
    border-bottom: solid 1px #000000; //var(--primery-txt);
    background: transparent;
    color: #000000; //var(--primery-txt);

    transition: border-bottom 250ms cubic-bezier(0.4, 0, 0.2, 1); //var(--animation-hover);

    &:not(:last-child) {
        margin-bottom: 15px;
    }
}


.login-input:hover,
.login-input:focus {
    border-bottom: solid 1px #FF6B01; //var(--btn-rating-bg);
}

.login-button {
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 14px;
    padding-bottom: 12px;

    min-width: 150px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.33;

    text-transform: uppercase;

    color: #000000; //var(--primery-txt);
    background-color: transparent;

    border: 1px solid #000000; //var(--primery-txt);
    border-radius: 5px;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1); //var(--animation-hover);
}

.login-button:hover,
.login-button:focus {
    color: #ffffff; //var(--secondary-txt);
    background-color: #FF6B01; //var(--btn-rating-bg);
    border: 1px solid #FF6B01; //var(--btn-rating-bg);
}

.login-user-details {
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
}

.button-login {
    margin-right: 40px;
}

.button-login-label:hover,
.button-login-label:focus {
    color: var(--header-active);
}
