.section-header {
  padding: 46px 20px 43px;
  font-family: var(--primary-font);
  text-align: center;
  color: var(--secondary-txt);
  background-color: var(--header-bg);

  @media screen and (min-width: 768px) {
    padding: 40px 0 80px;
  }

  // Встановлення фонового зображення

  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../images/header/header-bg_p2/header-bg-mob.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url(../images/header/header-bg_p2/header-bg-mob@2x.jpg);
  }

  @media screen and (min-width: 768px) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url(../images/header/header-bg_p2/header-bg-tab.jpg);
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url(../images/header/header-bg_p2/header-bg-tab@2x.jpg);
    }
  }

  @media screen and (min-width: 1280px) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url(../images/header/header-bg_p2/header-bg-desk.jpg);
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url(../images/header/header-bg_p2/header-bg-desk@2x.jpg);
    }
  }
}

.nav-all-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button-filmoteka {
  color: var(--secondary-txt);
  transition: color var(--animation-hover);
}
.button-filmoteka:hover,
.button-filmoteka:focus {
  color: var(--btn-rating-bg);
}

.icon-header {
  stroke: #fff;

  transition: stroke var(--animation-hover);

  .button-filmoteka:hover & {
    stroke: var(--btn-rating-bg);
  }
}
// ---------------------------------------
.button-filmoteka-label {
  margin-left: 10px;
  font-weight: 500;
  font-size: 30px;
  line-height: 1.17;
  visibility: hidden;
  @media screen and (min-width: 768px) {
    visibility: visible;
  }
}

.nav-list {
  display: flex;
}

.nav-item {
  margin-left: 40px;
}

.text-menu {
  font-family: var(--primary-font);
  color: var(--secondary-txt);
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  text-transform: uppercase;
  transition: color var(--animation-hover);
}
.button-home--active {
  border-bottom: solid 3px var(--btn-rating-bg);
}

.button-home-label:hover,
.button-home-label:focus,
.button-mylibrary-label:hover,
.button-mylibrary-label:focus {
  color: var(--btn-rating-bg);
}

.search {
  margin-top: 54px;
  @media screen and (min-width: 768px) {
    margin-top: 40px;
  }
}

.search-form {
  position: relative;
  display: flex;
  justify-content: center;
  width: 280px;

  margin-right: auto;
  margin-left: auto;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.17;
  background: none;

  @media screen and (min-width: 768px) {
    width: 336px;
  }
}

.search-input {
  width: 100%;
  height: 20px;
  border: none;
  border-bottom: solid 1px var(--secondary-txt);
  background: transparent;
  color: var(--secondary-txt);
  outline: none;
}

.search-input::placeholder {
  color: var(--secondary-txt);
}

.search-alert {
  color: var(--header-active);
}

.search-button {
  height: 20px;
  width: 20px;
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  outline: none;
  background: transparent;
  color: var(--secondary-txt);
  cursor: pointer;
}

.search-button:before {
  content: '\f002';
  font-family: FontAwesome;
  font-size: 12px;
  color: var(--secondary-txt);
  transition: color var(--animation-hover);
}

.search-button:hover:before,
.search-button:focus:before {
  color: var(--btn-rating-bg);
}
