<header class="section-header">
  <div class="container">
    <div class="nav-all-buttons">
      <div>
        <a
          href="./index.html"
          class="button-filmoteka"
          data-action="button-filmoteka"
        >
          <svg class="icon-header" width="24" height="24">
            <use href="./images/icons-header.svg#icon-film-1"></use>
          </svg>
          <span class="button-filmoteka-label">Filmoteka</span>
        </a>
      </div>

      <div class="nav-main-buttons">
        <ul class="nav-list">
          <li>
            <a
              href="./index.html"
              class="button-home"
              data-action="button-home"
            >
              <span class="button-home-label text-menu">HOME</span>
            </a>
          </li>
          <li class="library-item">
            <a
              href="./my-library.html"
              class="button-mylibrary button-mylibrary--active"
              data-action="button-mylibrary"
            >
              <span class="button-mylibrary-label text-menu">MY LIBRARY</span>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="nav-library-buttons" data-action="library-buttons">
      <button
        type="button"
        class="nav-library-watched"
        data-action="library-watched"
      >
        WATCHED
      </button>

      <button
        type="button"
        class="nav-library-queue"
        data-action="library-queue"
      >
        QUEUE
      </button>
    </div>
  </div>
</header>
