<div class="backdrop js-backdrop">
    <div class="modal-film">
        <div class="modal-close" data-action="close-modal">
            <svg class="modal__btn-x" width="30" height="30">
                <use href="./images/symbol-defs.svg#icon-close"></use>
            </svg>
        </div>
        
        <div class="modal-markup">
            <!-- infoFilm -->
            <!-- <div class="modal-library">
                <button type="button" class="modal-watched">ADD TO WATCHED</button>
                <button type="button" class="modal-queue">ADD TO QUEUE</button>
            </div> -->
        </div>
        
        
    </div>
</div>