<div class="backdrop js-backdrop">
    <div class="modal-film">
        <div class="modal-close" data-action="close-modal">
            <svg class="modal__btn-x" width="30" height="30">
                <use href="./images/symbol-defs.svg#icon-close"></use>
            </svg>
        </div>
        
        <div class="modal-markup1" data-action="modal-markup">
            <!-- infoFilm -->

            <!-- ! Кнопки Марины -->
            <!-- <div class="modal-button">
                <button type="button" class="modal-watched" data-action="modal-add-watched">ADD TO WATCHED</button>
                <button type="button" class="modal-queue" data-action="modal-add-queue">ADD TO QUEUE</button>
            </div> -->

        </div>
        
        
    </div>
</div>