<div class="backdrop-team is-hidden">
    <div class="modal-team container">
        <button class="team-close-btn" type="button">
            <svg class="modal__icon--close" width="18" height="18">
                <use href="./images/icon-close-modal.svg#modal-close"></use>
            </svg>
        </button>
        <h2 class="modal-team__title">Наша команда</h2>
        <div class="team-gallery-wrap">
        <ul class="team-gallery">
            <li class="team-card">
                <div class="team-photo-wrap">
                    <img class="team-photo" src="./images/team-photo/Lesyo_Roman.jpg" alt="Лесьо Роман" width=270 height=260 />
                </div>                
                <div class="team-info">
                    <h3 class="team-title">
                        Роман Лесьо
                    </h3>
                    <p class="team-text">
                        Team Lead
                    </p>
                </div>
            </li>

            <li class="team-card">
                <div class="team-photo-wrap">
                    <img class="team-photo" src="./images/team-photo/Dolya_Ruslan.jpg" alt="Доля Руслан" width=270 height=260 />
                </div>                
                <div class="team-info">
                    <h3 class="team-title">
                        Руслан Доля
                    </h3>
                    <p class="team-text">
                        Vice Team Lead
                    </p>
                </div>
            </li>

            <li class="team-card">
                <div class="team-photo-wrap">
                    <img class="team-photo" src="./images/team-photo/Kharlamova_Tetiana.jpg" alt="Харламова Тетяна" width=270 height=260 />
                </div>
                <div class="team-info">
                    <h3 class="team-title">
                        Тетяна Харламова
                    </h3>
                    <p class="team-text">
                        Scrum Master
                    </p>
                </div>
            </li>

            <li class="team-card">
                <div class="team-photo-wrap">
                    <img class="team-photo" src="./images/team-photo/Karvatskii_Dmitro.jpg" alt="Карвацький Дмитро" width=270 height=260 />
                </div>
                <div class="team-info">
                    <h3 class="team-title">
                        Дмитро Карвацький
                    </h3>
                    <p class="team-text">
                        Front-End developer
                    </p>
                </div>
            </li>

            <li class="team-card">
                <div class="team-photo-wrap">
                    <img class="team-photo" src="./images/team-photo/Rybonka_Valeriya.jpg" alt="Рибонька Валерія" width=270 height=260 />
                </div>
                <div class="team-info">
                    <h3 class="team-title">
                        Валерія Рибонька
                    </h3>
                    <p class="team-text">
                        Front-End developer
                    </p>
                </div>
            </li>

            <li class="team-card">
                <div class="team-photo-wrap">
                    <img class="team-photo" src="./images/team-photo/Borkaluk_Igor.jpg" alt="Боркалюк Ігор" width=270 height=260 />
                </div>
                <div class="team-info">
                    <h3 class="team-title">
                        Ігор Боркалюк 
                    </h3>
                    <p class="team-text">
                        Front-End developer
                    </p>
                </div>
            </li>

            <li class="team-card">
                <div class="team-photo-wrap">
                    <img class="team-photo" src="./images/team-photo/Petrenko_Maryna.jpg" alt="Петренко Марина" width=270 height=260 />
                </div>
                <div class="team-info">
                    <h3 class="team-title">
                        Марина Петренко
                    </h3>
                    <p class="team-text">
                        Front-End developer
                    </p>
                </div>
            </li>

            <li class="team-card">
                <div class="team-photo-wrap">
                    <img class="team-photo" src="./images/team-photo/Brovarets_Bogdan.jpg" alt="Броварець Богдан" width=270 height=260 />
                </div>
                <div class="team-info">
                    <h3 class="team-title">
                        Богдан Броварець
                    </h3>
                    <p class="team-text">
                        Front-End developer
                    </p>
                </div>
            </li>

            <li class="team-card">
                <div class="team-photo-wrap">
                <img class="team-photo" src="./images/team-photo/Dyka_Uliya.jpg" alt="Дика Юлія" width=270 height=260 />
                </div>
                <div class="team-info">
                    <h3 class="team-title">
                        Юлія Дика
                    </h3>
                    <p class="team-text">
                        Front-End developer
                    </p>
                </div>
            </li>

            <li class="team-card">
                <div class="team-photo-wrap">
                    <img class="team-photo" src="./images/team-photo/Oprishenko_Volodimir.jpg" alt="Оприщенко Володимир" width=270 height=260 />
                </div>
                <div class="team-info">
                    <h3 class="team-title">
                        Володимир Оприщенко
                    </h3>
                    <p class="team-text">
                        Front-End developer
                    </p>
                </div>
            </li>

            <li class="team-card">
                <div class="team-photo-wrap">
                    <img class="team-photo" src="./images/team-photo/Prokudinov_Dmitro.jpg" alt="Прокудінов Дмитро" width=270 height=260 />
                </div>
                <div class="team-info">
                    <h3 class="team-title">
                        Дмитро Прокудінов 
                    </h3>
                    <p class="team-text">
                        Front-End developer
                    </p>
                </div>
            </li>

            <li class="team-card">
                <div class="team-photo-wrap">
                    <img class="team-photo" src="./images/team-photo/Silenko Evgenii.jpg" alt="Сіленко Євгеній" width=270 height=260 />
                </div>
                <div class="team-info">
                    <h3 class="team-title">
                        Євгеній Сіленко
                    </h3>
                    <p class="team-text">
                        Front-End developer
                    </p>
                </div>
            </li>
        </ul>
        </div>
</div>