.conteiner {
  padding-right: 20px;
  padding-left: 20px;
  margin: 0 auto;

  @media screen and (min-width: 320px) {
    width: 320px;
  }
  @media screen and (min-width: 768px) {
    padding-right: 75px;
    padding-left: 75px;
    width: 768px;
  }
  @media screen and (min-width: 1024px) {
    padding-right: 71px;
    padding-left: 71px;
    width: 1024px;
  }
}
